<div class="container pic">
  <img src="{{ current.medium }}" alt="picture of tv show" />
</div>
<div class="container-textinfo">
  <!-- <div><strong>Show:</strong> {{ current.title }}</div> -->
  <!-- just in case this is redundant with the title now next to "results for" -->
  <div><strong>Genre:</strong> {{ current.genres }}</div>
  <div><strong>Status:</strong> {{ current.status }}</div>
  <div><strong>Rating:</strong> {{ current.rating }}</div>
  <div><strong>About:</strong> {{ current.summary }}</div>
</div>
